name: Python
on:
  pull_request:
    paths:
      - '.github/workflows/python.yaml' # Run on every change to itself
      - 'docker/web/**' # Any web files changing cause tests
      - 'python/**'

  push:
    branches:
      - main

jobs:
  run_tests:
    name: Run tests
    runs-on: ubuntu-latest
    # container:
    #   image: ghcr.io/aristotle-metadata-enterprises/a7e_hello_app:dev
    #   credentials:
    #     username: ${{ secrets.ghcr_user }}
    #     password: ${{ secrets.ghcr_token }}
    steps:
      # - name: Checkout PR
      #   uses: actions/checkout@v3
      - name: Copy repo?
        run: pwd && ls
